html{
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game, #main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px auto;
}

.hidden{
    display: none;
}

table{
    width: 200px;
    height: 200px;
}

table, td{
    border: 1px black solid;
    text-align: center;
}

td{
    font-size: 1.5rem;
}

section{
    margin-top: 30px;
}

form{
    margin-top: 30px;
}

.ok{
    background-color: green;
}

.err{
    background-color: red;
    
}

